# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# next.js
.next

# production
build
out
dist
dist-ssr

# misc
.DS_Store
*.pem

# debug
*.log

# local env files
*.local
.env

# vercel
.vercel

# turbo
.turbo

# random
.cache
server/dist
public/dist
storybook-static/
